.home-container {
  max-width: 900px;
  margin: 0 auto;
  /* padding: 2rem; */
  padding-top: 2rem;
  
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-area {
  flex: 1;
  overflow-y: auto; /* scroll YAHAN hoga ab, full-width pe */
  display: flex;
  flex-direction: column;
}

.page-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #dee6eb;
}

.page-subtitle {
  font-size: 1.3rem;
  text-align: center;
  /* color: var(--color-light); */
  color: #b2bbcc;
  opacity: 0.85;
}
.input-box {
  width: 100%;
  max-height: 500px;
  resize: none;
  min-height: 120px;
  padding: 1rem;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-family: inherit;
  color: #b2bbcc;
  /* color: var(--color-lightest); */
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  backdrop-filter: blur(10px);

  outline: none;
  transition: border-color 0.3s ease;
}

.input-box:focus {
  border-color: rgb(209, 208, 209);
}

.input-box::placeholder {
  color: #a8bcc9;
  opacity: 0.3;
  font-size: 17px;
}
.primary-btn {
  color: #0a1520;

  width: 100%;
  padding: 0.9rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    var(--color-accent),
    var(--color-accent-light)
  );
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(217, 142, 115, 0.4);
}

.primary-btn:active {
  transform: translateY(0);
}
.spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.primary-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.input-section {
  position: sticky;
  bottom: 0;
  padding-bottom: 1.5rem;
  /* background: rgba(0, 10, 18, 0.25); */
  backdrop-filter: blur(20px);
  /* padding: 1.5rem 0 1rem; */
  /* margin-top: auto; */
  /* padding: 0 0 1.5rem 0; */
}

.result-box {
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px; */
  padding: 1.5rem;
  line-height: 1.7;
  color: #b2bbcc;
  font-size: 17px;
}
.status-msg {
  text-align: center;
  color: var(--color-lightest);
  font-style: italic;
  font-size: 20px;
}

.error-msg {
  text-align: center;
  color: #ff8080;
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 768px) {
  .page-heading {
    font-size: 1.8rem; 
  }

  .home-container {
    padding: 1.5rem;
    padding-bottom: 0px;
  }
  
.page-subtitle {
  font-size: 1.13rem;
}
.input-box{
  min-height: 100px;
}
.input-box::placeholder {
 
  font-size: 16px;
}
.result-box{
  padding-left: 1rem;
  padding-right: 1rem;
}
}